@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background: #020410;
}

.header {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 25px 12.5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;


}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);


    transition: .5s;

}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

/* .navbar .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    transition: .5s;

}

.navbar .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
} */

.btnLogin-popup {   
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    transition: .5s;

}
.btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.search-bar {
    width: 200px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;

}

.search-bar button input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('images/Drowsy.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 600px;
    background: url('images/Drowsy.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo {
    font-size: 30px;
    color: aqua;

}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;

}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 90px 0;
    color: aquamarine;


}

.social-icons a i {
    font-size: 22px;
    color: aqua;
    margin-right: 10px;
    transition: .5s ease;


}

.social-icons a:hover i {
    transform: scale(1.2);
}

.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;


}

.logreg-box .form-box {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #e4e4e4;
}

.logreg-box .form-box.register{
    transform: translateX(430px);


}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}


.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;


}


.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forgot {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: aqua;
    margin-right: 3px;


}

.remember-forgot a{
    color: aqua;
    text-decoration:none ;
}


.remember-forgot a:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    height: 45px;
    background-color: aqua;

    
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  margin: 4px 2px;
 



    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    display: inline-block;
    font-weight: 500;
    box-shadow: 0 0 10px rgb(0 0 0 .5);
}

.login-register p a {
    color: aqua;
    font-weight: 600;
    text-decoration: none;
}


.login-register p a:hover {
    text-decoration: underline;
}

/* Google sign in button */
*,
*::before,
*::after{
    box-sizing: border-box;
}

.g-sign-in-button{
    position: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50% -50%); */
    margin: 45px;
    display: inline-block;
    width: 240px;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    transition: background-color .218s, border-color .218s,box-shadow .218s

}

.g-sign-in-button:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 0 2px 2px rgba(66,133,244,.3);
    box-shadow: 0 0 2px 2px rgba(66,133,244,.3);
}

.g-sign-in-button:active{
    background-color: #3367d6;
    transition: background-color .2s;
}

.g-sign-in-button .content-wrapper{
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img{
    width: 18px;
    height: 18px;
}

.g-sign-in-button .logo-wrapper{
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
}

.g-sign-in-button .text-container{
    font-family: "Roboto",arial,sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}








